<div class="displayTable">
  <div class="displayTableCell">
    <div class="authBlock">
      <h3>Sign Up</h3>

      <div class="formGroup">
        <input
          type="email"
          class="formControl"
          placeholder="Email Address *"
          [(ngModel)]="email"
          required
        />
      </div>
      
      <div class="formGroup">
        <input
          type="text"
          class="formControl"
          placeholder="First name *"
          [(ngModel)]="firstName"
          required
        />
      </div>

      <div class="formGroup">
        <input
          type="text"
          class="formControl"
          placeholder="Last name *"
          [(ngModel)]="lastName"
          required
        />
      </div>

      <div class="formGroup">
        <input
          type="text"
          class="formControl"
          placeholder="Phone Number *"
          [(ngModel)]="phoneNumber"
          required
        />
      </div>

      <div class="formGroup">
        <input
          type="password"
          class="formControl"
          placeholder="Password *"
          [(ngModel)]="userPwd"
          required
        />
      </div>

       <mat-slide-toggle [(ngModel)]="isAdmin">Admin</mat-slide-toggle> 
      
      <div class="formGroup">
        <input
          type="button"
          class="btn btnPrimary"
          value="Sign Up"
          (click)="onSignUp()"
        />
      <div class="formGroup">
        <span class="or"><span class="orInner">Or</span></span>
      </div>
      <div class="redirectToLogin">
        <span
          ><u>Already have an account? </u
          ><span class="redirect" routerLink="../sign-in"
            ><u>Log In </u>
            </span></span>
      </div>
    </div>
  </div>
</div>
