<div class="displayTable">
    <div class="displayTableCell">
      <div class="authBlock">
        <h1>Welcome !</h1>
        <h3> Please login</h3>
        <div class="divider"></div>

        <div class="formGroup">
          <input
            type="text"
            class="formControl"
            placeholder="Username"
            #userName
            required
          />
        </div>
        <div class="formGroup">
          <input
            type="password"
            class="formControl"
            placeholder="Password"
            #userPassword
            required
          />
        </div>
        <!-- Calling SignIn Api from AuthService -->
        <div class="formGroup2">

          <input
            type="button"
            class="btn btnPrimary"
            value="Log in"
            (click)="authService.SignIn(userName.value, userPassword.value)"
          />
          <div class="divider"></div>
        </div>
        <div class="forgotPassword">
          <span routerLink="/forgot-password">Forgot password</span>
        </div>
      </div>
      <div class="redirectToLogin">
        <span>
          <u>Don't have an account?</u><span
            class="redirect"
            routerLink="/register-user">
            <u> Sign Up</u></span
          ></span>
      </div>
    </div>
  </div>
