.logo-img {
    width: 150px; 
    height: auto; 
    margin-right: 10px; 
}

.immagine-contenitore {
    background-color: white; 
    padding: 20px; 
  }
  
  .immagine-contenitore img {
    display: block; 
    max-width: 100%; 
    height: auto; 
  }

  .navbar-nav .nav-link {
    cursor: pointer;
  }
  
  