<nav class="navbar navbar-expand-lg navbar-dark bg-success">
  
  <a class="navbar-brand" href="https://www.gruppofos.it/">
    <div class="immagine-contenitore">
      <img src="assets/fos_group.png" alt="" class="logo-img"> </div> </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" (click)="redirectToPage('home')">Home</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" (click)="redirectToPage('personalData')">Account</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" (click)="redirectToPage('saved-ps')">Parking Slots</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" (click)="redirectToPage('map')">Map</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" (click)="redirectToPage('statistics')">Statistics</a>
      </li>
      
      <li class="nav-item mt-3 mt-lg-0"> 
          <a class="nav-link" (click)="redirectToPage('sign-in')">Logout</a>
      </li>
    </ul>
  </div>
</nav>



  
  
  
  
  