.custom-search {
    background-color: #f8f9fa; 
    border: 1px solid #ced4da; 
    border-radius: 5px; 
    padding: 8px 12px; 
    margin-bottom: 10px;
}
  
  .custom-search input {
    border: none; 
    outline: none; 
  }
  
  .custom-search button {
    border-radius: 5px 5px 5px 5px; 
  }

.text-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 95%;
  }
 

.custom-container {
    max-width: 1200px; 
    margin: 0 auto; 
  }
  
.parcheggi-list {
  max-height: 300px; 
  overflow-y: auto; 
}

.parcheggi-list-item:hover {
  background-color: #3498db; 
  color: #fff; 
  cursor: pointer; 
}

.selected {
  background-color: #f0f0f0; 
  color: #000; 
}

.parcheggio-marker {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  text-align: center;
  vertical-align: middle;
  line-height: 30px;
}

.green-marker {
  background-color: green;
  color: green;
}

.red-marker {
  background-color: red;
  color: red;
}

