<div>
  <app-menu></app-menu>
</div>

<div class="container mt-2">
  <div class="row">

    <div class="col-md-4">
      <div class="custom-search">
        <input type="text" [(ngModel)]="searchQuery" placeholder="Cerca un indirizzo" class="form-control" />
      </div>
    </div>

    <div class = "col-md-1"><button class="btn btn-primary mt-2" (click)="searchAddress()">Cerca</button></div>
    
      <div class="col-md-7 text-right" *ngIf="isAdmin">
        <button class="btn btn-success mt-2 custom-save-btn" (click)="onSaveButtonClick()">Salva</button>
      
    </div>
    
  </div>
</div>

<div class="container mt-3">
  <div class="row">

    <div class="col-md-4">
      <h2>Parcheggi Salvati</h2>
      <div class="parcheggi-list">
        
        <ul>
          <li *ngFor="let parcheggio of parcheggiSalvati" 
              (click)="selectParking(parcheggio)"
              [ngClass]="{ 'selected': parcheggio === parcheggioSelezionato }"
              class="parcheggi-list-item"> 
            <strong>Indirizzo:</strong> {{ parcheggio.indirizzo }}<br>
            <strong>Stato:</strong> {{ parcheggio.state }}<br>
          </li>
        </ul>
        
        
      </div>
      
    </div>

    <div class="col-md-8">
      <div #mapContainer id="map" style="width: 100%; height: 70vh;"></div>
      
    </div>

  </div>

  <div *ngIf="isAdmin">
    <button class="btn btn-danger" (click)="confirmDeleteAllParcheggi()">Elimina tutti i parcheggi</button>
  </div>
</div>


