<div class="modal-header">
    <h4 class="modal-title">Conferma Eliminazione</h4>
    <button type="button" class="close" aria-label="Close" (click)="onCloseClick(false)">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Sei sicuro di voler eliminare il seguente parcheggio?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="onCloseClick(true)">Si</button>
    <button type="button" class="btn btn-secondary" (click)="onCloseClick(false)">No</button>
  </div>
  
  
  
  